

mixin grid_item (gridItem)
	.grid_item(class=gridItem.pos_mod)
		if gridItem.background
			+picture({
					img: gridItem.background,
					class: 'grid_item__background',
					img_class: 'grid_item__background_img',
					alt: 'background',
				})
		if gridItem.picture
			a.grid_item__image(href="#")
				+picture({
					img: gridItem.picture,
					class: 'grid_item__image_in',
					img_class: 'grid_item__image_img',
					alt: 'item',
				})
				if gridItem.video
					span.grid_item__btn_icon
						+icon( gridItem.video, 'icon--size_mod')
		.grid_item__content(class=gridItem.style_mod)
			if gridItem.new_icon
				.grid__new_icon= gridItem.new_icon
			if gridItem.content_title
				h3.grid_item__content_title!= gridItem.content_title
			.grid_item__tags
				if gridItem.tag
					.grid_item__tag
						a.grid_item__tag_link(class= gridItem.tag_mod href="#")= gridItem.tag
				if gridItem.icon
					span.grid_item__icon
						+icon( gridItem.icon, 'icon--size_mod')
				if gridItem.autor
					.grid_item__autor
						a.grid_item__autor_link(href="#")= gridItem.autor
			if gridItem.title
				a.grid_item__title(href="#")= gridItem.title
			if gridItem.text
				p.grid_item__text= gridItem.text
			if gridItem.data
				.grid_item__info
					span.grid_item__info_data= gridItem.data
					span.grid_item__info_time= gridItem.time
			if gridItem.video_icon
				button.grid_item__btn(type='button' aria-label='play video')
					span.grid_item__btn_title Смотреть
					span.grid_item__btn_icon
						+icon( gridItem.video_icon, 'icon--size_mod')