
mixin grid_item (gridItem)
	.grid_item(class=gridItem.pos_mod)
		if gridItem.background
			+picture({
					img: `${gridItem.background}`,
					class: 'grid_item__background',
					img_class: 'grid_item__background_img',
					alt: 'background',
				})
		if gridItem.picture
			a.grid_item__image(href="#")
				+picture({
					img: `${gridItem.picture}`,
					class: 'grid_item__image_in',
					img_class: 'grid_item__image_img',
					alt: 'item',
				})
				if gridItem.video
					span.grid_item__video_icon
						+icon( `${gridItem.video}`, 'icon--size_mod')
		.grid_item__content(class=gridItem.style_mod)
			if gridItem.new_icon
				.grid__new_icon= gridItem.new_icon
			.grid_item__tags
				if gridItem.tag_title
					span.grid_item__tags_title= gridItem.tag_name
					span.grid_item__tags_title= gridItem.tag_title
					span.grid_item__tags_subtitle= gridItem.tag_subtitle
				if gridItem.tag
					a.grid_item__tag(class= gridItem.tag_mod href="#")= gridItem.tag
				if gridItem.icon
					span.grid_item__icon
						+icon( `${gridItem.icon}`, 'icon--size_mod')
				if gridItem.autor
					a.grid_item__autor(href="#")= gridItem.autor
			if gridItem.title
				a.grid_item__title(href="#")= gridItem.title
			if gridItem.text
				p.grid_item__text= gridItem.text
			if gridItem.data
				.grid_item__info
					span.grid_item__info_data= gridItem.data
					span.grid_item__info_time= gridItem.time
			if gridItem.video_icon
				.grid_item__video
					span.grid_item__video_text Смотреть
					span.grid_item__video_icon
						+icon( `${gridItem.video_icon}`, 'icon--size_mod')