-
	let gridItem = [
		{
			tag: 'Здравоохранение ',
			autor: 'Автор: Владимир Мищенко',
			title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
			background: 'item-1.jpg',
			data: '00 окт 20',
			time: '~ 1 мин',
			style_mod: 'style_1_mod',
			pos_mod: ' pos_1_mod'
		},
		{
			tag: 'Государственный сектор',
			tag_mod: 'grid_item__tag--color_mod_5',
			title: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod',
			pos_mod: ' pos_2_mod'
		},
		{
			tag: 'Страхование',
			tag_mod: 'grid_item__tag--color_mod_6',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod',
			pos_mod: ' pos_2_mod'
		},
		{
			tag: 'Здравоохранение',
			tag_mod: 'grid_item__tag--color_mod_4',
			title: 'Компания EchoNous создала KOSMOS AI – прибор для диагностики пациентов прямо в больничной палате',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod',
			pos_mod: ' pos_2_mod'
		},
		{
			tag: 'Телекоммуникации',
			tag_mod: 'grid_item__tag--color_mod_1',
			title: 'BearingPoint продлила соглашение с инкубатором телекоммуникационной группы Telefonica, компанией Wayra',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod',
			pos_mod: ' pos_2_mod'
		},
		{
			picture: 'item-4.jpg',
			tag: 'Здравоохранение',
			tag_mod: 'grid_item__tag--color_mod_1',
			autor: 'Автор: Владимир Мищенко',
			title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
			text: 'Решение дает возможность обеспечить комплексную, надежную защиту ИТ-инфраструктуры и регулирует уровень технических нагрузок с полным охватом разных цифровых систем,',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			video: 'play',
			style_mod: 'style_2_mod',
			pos_mod: 'pos_2_mod'
		}
	];

mixin grid_item (gridItem)
	.grid_item(class=gridItem.pos_mod)
		if gridItem.background
			+picture({
					img: `${gridItem.background}`,
					class: 'grid_item__background',
					img_class: 'grid_item__background_img',
					alt: 'background',
				})
		if gridItem.picture
			a.grid_item__image(href="#")
				+picture({
					img: `${gridItem.picture}`,
					class: 'grid_item__image_in',
					img_class: 'grid_item__image_img',
					alt: 'item',
				})
		.grid_item__content(class=gridItem.style_mod)
			.grid_item__tags
				if gridItem.tag
					a.grid_item__tag(class= gridItem.tag_mod)= gridItem.tag
				if gridItem.icon
					span.grid_item__icon
						+icon( `${gridItem.icon}`, 'icon--size_mod')
			if gridItem.autor
				a.grid_item__autor(href="#")= gridItem.autor
			if gridItem.title
				a.grid_item__title(href="#")= gridItem.title
			if gridItem.text
				.grid_item__text= gridItem.text
			if gridItem.data
				.grid_item__info
					span.grid_item__info_data= gridItem.data
					span.grid_item__info_time= gridItem.time
			if gridItem.video
				.grid_item__video
					span.grid_item__video_text Смотреть
					span.grid_item__video_icon
						+icon( `${gridItem.video}`, 'icon--size_mod')